.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}

li {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 300;
}

blockquote {
  border-left: 5px solid #a4b6ff;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.top-banner {
  z-index: 99;
  height: 34px;
  background-color: #bcbeb8;
}

.banner-wrapper {
  color: #fff;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
}

.banner-text {
  margin-right: 10px;
  text-decoration: underline;
}

.banner-link {
  color: #597ef7;
  transition: color .2s;
}

.banner-link:hover {
  color: #0ff;
}

.navbar-buttons {
  margin-left: 8px;
}

.brand-logo {
  margin-right: 24px;
}

.button-text {
  color: #fcfcfc;
  -webkit-text-stroke-color: #efede0;
  background-color: rgba(0, 0, 0, 0);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.navbar {
  opacity: 1;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 1px 0 18px rgba(0, 0, 0, .2);
}

.container {
  max-width: 1248px;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.container.container-navbar {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  position: relative;
}

.container.testimonial-container {
  max-width: 100vw;
  padding-bottom: 60px;
  overflow: hidden;
}

.container.pricing-page {
  padding-top: 40px;
}

.container.pricing-block {
  display: flex;
}

.container.blog {
  flex-direction: column;
  display: flex;
}

.container.main {
  margin-bottom: 60px;
}

.navbar-menu {
  align-items: center;
  display: flex;
}

.brand-logo-image {
  height: 24px;
}

.body {
  background-color: #f5f3eb;
  font-family: Poppins, sans-serif;
}

.nav-link {
  color: #313c53;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.nav-link:hover {
  color: #bb9675;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #a4b6ff;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #a4b6ff;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.w--current {
  color: #bb9675;
}

.button-primary {
  color: #fff;
  text-align: left;
  background-color: #bb9675;
  border-radius: 100px;
  margin-left: 20px;
  margin-right: 4px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #d0e6ee;
}

.button-primary:active {
  background-color: rgba(0, 0, 0, 0);
}

.button-primary.hero-button {
  background-color: #313c53;
  margin-top: 0;
  margin-bottom: 0;
}

.button-primary.footer-button {
  width: 25%;
}

.button-primary.button-inverse {
  background-color: #313c53;
}

.button-primary.button-inverse:hover {
  background-color: #d0e6ee;
}

.button-primary.main {
  margin-left: 0;
}

.main-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.main-split {
  max-width: 100%;
  color: #fff;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 60px;
  padding-right: 0;
  display: flex;
}

.margin-32px {
  height: 32px;
  font-weight: 300;
}

.heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 64px;
}

.heading.large-h1 {
  color: #efede0;
  -webkit-text-stroke-color: #a93d3d;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 38px;
  font-weight: 700;
}

.heading.large-h1.pricing-home {
  color: #f5f3eb;
}

.heading.large-h1.pricing-page {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.heading.large-h1.pricing-three {
  color: #313c53;
  font-family: Poppins, sans-serif;
}

.heading.h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
}

.heading.h1 {
  color: #313c53;
  text-align: center;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  font-size: 50px;
  line-height: 64px;
}

.heading.h2 {
  width: 100%;
  color: #313c53;
  font-family: Merriweather, serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.heading.h2.pricing-text {
  color: #313c53;
}

.heading.h2.home {
  color: #d0e6ee;
}

.heading.h2.middle {
  text-align: center;
}

.heading.h2.middle-copy {
  text-align: center;
  margin-top: 60px;
}

.heading.h3 {
  font-size: 24px;
  line-height: 30px;
}

.heading.h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.heading.h6 {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
}

.heading.large-h1-grid-format {
  outline-offset: 0px;
  color: #efede0;
  -webkit-text-stroke-color: #bb9675;
  border: 0 #000;
  border-radius: 20px;
  outline: 1px #ffe7e7;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Merriweather, serif;
  font-size: 38px;
  font-weight: 700;
}

.heading.large-h1-copy {
  color: #efede0;
  -webkit-text-stroke-color: #a93d3d;
  margin-bottom: 0;
  font-family: Merriweather, serif;
  font-size: 38px;
  font-weight: 700;
}

.heading.large-h1-copy.pricing-home {
  color: #f5f3eb;
}

.heading.large-h1-copy.pricing-page {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.heading.large-h1-copy.pricing-three {
  color: #313c53;
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.heading.large-h1-copy.pricing-three-copy {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 23px;
}

.paragraph {
  color: #313c53;
  text-align: center;
  font-family: Droid Serif, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}

.paragraph.small {
  color: #313c53;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
}

.paragraph.small.steps {
  color: #313c53;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.paragraph.small.new {
  color: #efede0;
  font-size: 16px;
  line-height: 20px;
}

.paragraph.small.new.pricing-home {
  color: #fff;
}

.paragraph.small.pricing-page {
  font-size: 20px;
  font-weight: 500;
}

.paragraph.small.pricing-page-copy, .paragraph.small.pricing-page-copy-copy, .paragraph.small.pricing-page-copy {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8rem;
}

.paragraph.features-paragraph {
  font-size: 14px;
}

.paragraph.color-name {
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.paragraph.large {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

.paragraph.pricing-p {
  color: #313c53;
}

.paragraph.light {
  color: #fff;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.paragraph.light.middle {
  width: 50%;
  text-align: center;
}

.paragraph.light.middle-copy {
  width: 50%;
  color: #313c53;
  text-align: center;
  margin-bottom: 40px;
}

.paragraph.faq {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8rem;
}

.paragraph.faq-answer {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7rem;
}

.paragraph.small-copy {
  color: #313c53;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
}

.paragraph.small-copy.steps {
  color: #313c53;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.paragraph.small-copy.new {
  color: #efede0;
  font-size: 16px;
  line-height: 20px;
}

.paragraph.small-copy.new.pricing-home {
  color: #fff;
}

.paragraph.small-copy.pricing-page {
  font-size: 20px;
  font-weight: 500;
}

.paragraph.small-copy.pricing-page-copy, .paragraph.small-copy.pricing-page-copy-copy, .paragraph.small-copy.pricing-page-copy {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8rem;
}

.typography-wrapper {
  flex-wrap: wrap;
  display: flex;
}

.typography-wrapper.style-guide-typo {
  flex-direction: column;
  margin-left: 28px;
}

.typography-block-parent {
  margin-right: 0;
}

.typography-block {
  width: 320px;
  height: 85px;
  background-color: #2f54eb;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.text-highlight {
  width: 36%;
  height: 100%;
  background-color: #1d39c4;
  padding-left: 40px;
  padding-right: 40px;
}

.caption {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.caption.caption-small {
  font-size: .85rem;
  font-weight: 500;
}

.styleguide-split {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 200px;
  display: flex;
}

.styleguide-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  display: flex;
}

.block-quote {
  border-left-color: #a4b6ff;
  font-size: 16px;
  font-weight: 300;
}

.list-item {
  color: #efede0;
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
}

.list-item.pricing-home {
  color: #fff;
}

.list-item.pricing-home.pricng-three {
  color: #313c53;
}

.list-item.pricing-three {
  color: #313c53;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.link {
  color: #a4b6ff;
}

.link:hover {
  color: #fff;
}

.hero-image-wrapper {
  flex-direction: column;
  display: flex;
}

.hero-image {
  width: 130%;
  max-width: none;
  box-shadow: none;
  border-radius: 20px;
  overflow: hidden;
}

.grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  align-content: stretch;
  justify-content: stretch;
  margin-top: 80px;
}

.testimonial-hero {
  background-color: rgba(235, 47, 50, .23);
  border: 1px solid #2f54eb;
  border-radius: 20px;
  margin-top: 30px;
  padding: 24px;
  display: flex;
}

.testimonial-avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 100px;
  margin-right: 16px;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-wrapper-two.blog-wrapper {
  max-width: none;
}

.margin-24px {
  height: 1px;
  margin-bottom: 24px;
}

.tabs-switch {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.tabs-switch-menu {
  border: 1px solid #2f54eb;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: flex;
}

.tab-switch {
  color: #a4b6ff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.tab-switch:hover {
  color: #fff;
}

.tab-switch.w--current {
  height: 44px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #0ff;
  border-radius: 100px;
  align-items: center;
  display: flex;
}

.tab-switch-text {
  font-size: 16px;
  font-weight: 300;
}

.tab-content-grid {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: center;
  justify-items: stretch;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-wrapper {
  text-align: left;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  display: flex;
}

.text-wrapper.suggested {
  width: 100%;
  background-color: #a93d3d;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  position: relative;
  top: -49px;
  box-shadow: 0 50px 50px -10px rgba(32, 30, 39, .52);
}

.text-wrapper.homepage-price {
  width: 80%;
  background-color: #313c53;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -49px;
  box-shadow: 0 50px 50px -10px rgba(32, 30, 39, .52);
}

.text-wrapper.homepage-price.homepage {
  width: 8%;
}

.tab-content-image {
  width: 600px;
  height: 400px;
  max-width: 650px;
  padding-left: 0;
}

.list-tab-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-circles {
  list-style-type: disc;
}

.list-circles.pricing-features {
  color: #ffe7e7;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list-numbers {
  list-style-type: decimal;
}

.section {
  color: #fff;
  background-color: #f5f3eb;
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
}

.section.linear-gradient {
  background-image: linear-gradient(#f5f3eb, #313c53);
}

.section.lavender-background {
  color: #003053;
  background-color: #f5f3eb;
}

.section.hero-home-section {
  color: #003053;
  background-color: #f5f3eb;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.section.pricing-page {
  background-color: #f5f3eb;
  padding-top: 10px;
  padding-bottom: 100px;
}

.section.section-home {
  background-color: #313c53;
}

.section.pricing-page-copy {
  background-color: #f5f3eb;
  padding-top: 10px;
  padding-bottom: 20px;
}

.section.pricing-page-copy-copy {
  color: #f5f3eb;
  background-color: #f5f3eb;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.section.pricing-page-copy {
  background-color: #f5f3eb;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section.pricing-page-copy-copy {
  background-color: #f5f3eb;
  padding-top: 10px;
  padding-bottom: 20px;
}

.section.pricing-page-copy {
  background-color: #f5f3eb;
  padding-top: 10px;
  padding-bottom: 100px;
}

.section.pricing-page-copy-copy {
  background-color: #f5f3eb;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section.pricing-page-copy-copy-copy {
  background-color: #313c53;
  padding: 80px 30px;
}

.section.pricing-page-copy-copy-copy-copy {
  background-color: #313c53;
  margin-top: -40px;
  padding: 80px 30px;
}

.section.pricing-page-copy-copy-copy-copy-copy {
  background-color: #313c53;
  flex-direction: column;
  margin-top: 0;
  padding: 60px 30px;
  display: flex;
}

.features-block {
  color: #f5f3eb;
  text-align: center;
  -webkit-text-stroke-color: transparent;
  background-color: #f5f3eb;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  display: flex;
}

.features-title {
  color: #313c53;
  -webkit-text-stroke-color: #da3a3d;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}

.metrics-wrapper {
  border: 1px #d0e6ee;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.metrics-grid {
  grid-column-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logos-section {
  color: #fff;
  text-align: center;
  padding: 60px 30px 160px;
  position: relative;
}

.clients-wrapper {
  max-width: 750px;
  opacity: .5;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-logo {
  max-height: 35px;
  max-width: none;
}

.clients-logo-heading {
  opacity: .5;
  font-size: 26px;
  font-weight: 300;
}

.post-wrapper {
  max-width: 750px;
}

.rich-text-section {
  background-color: #e7ecff;
  padding: 80px 30px;
}

.rich-text-wrapper {
  max-width: 750px;
  color: #003053;
  text-align: left;
}

.featured-posts-wrapper {
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  display: flex;
}

.card-wrapper {
  height: 100%;
  color: #003053;
  text-align: center;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.post-category-tagline {
  color: #003053;
  text-align: center;
  border: 1px solid #003053;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
}

.post-category-tagline:hover {
  background-color: #d4dcff;
}

.post-image {
  border-radius: 20px;
  margin-bottom: 20px;
}

.read-more {
  z-index: 1;
  color: #fff;
  background-color: #bb9675;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.arrow-icon {
  width: 16px;
}

.blog-post-button {
  margin-right: 12px;
  font-size: 20px;
}

.blog-card {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.footer {
  background-color: #f5f3eb;
  padding: 80px 30px 40px;
  position: relative;
}

.footer-wrapper {
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block {
  color: #bb9675;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.footer-title {
  color: #313c53;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.footer-link {
  color: #313c53;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: all .2s;
}

.footer-link:hover {
  color: #bb9675;
}

.footer-link.w--current {
  color: #313c53;
}

.footer-link.w--current:hover {
  color: #bb9675;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  color: #bb9675;
  -webkit-text-stroke-color: #bb9675;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #313c53;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 300;
}

.logo-footer {
  width: 140px;
}

.footer-top {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.social-media-icons {
  color: rgba(0, 0, 0, 0);
}

.social-media-icon {
  width: 24px;
  opacity: .5;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 20px;
  transition: all .2s;
}

.social-media-icon:hover {
  opacity: 1;
}

.footer-grid {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  margin-top: 60px;
}

.text-field {
  height: 44px;
  border-radius: 20px;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.confirmation-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.webflow-link {
  color: #a4b6ff;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 300;
  transition: all .2s;
}

.webflow-link:hover {
  color: #0ff;
}

.success-message {
  color: #003053;
  background-color: #e7ecff;
  border-radius: 100px;
}

.error-message {
  text-align: center;
  background-color: #ff6565;
  border-radius: 100px;
  padding-left: 16px;
  padding-right: 16px;
}

.subscribe-section {
  color: #fff;
  background-color: #313c53;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-split.button-wrapper {
  outline-offset: 0px;
  outline: 3px #fff;
  flex-direction: row;
}

.button-secondary {
  color: #2f54eb;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 500;
  transition: all .2s;
}

.button-secondary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.button-secondary.margin {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #fff;
  background-color: #bb9675;
  border-style: none;
  margin-left: 16px;
}

.button-secondary.margin:hover {
  background-color: #d0e6ee;
}

.button-secondary.pricing-button {
  width: 50%;
  color: #efede0;
  text-align: center;
  background-color: #bb9675;
  border-style: none;
  font-family: Poppins, sans-serif;
}

.button-secondary.pricing-button:hover {
  background-color: #d0e6ee;
}

.button-tertiary {
  color: #2f54eb;
  background-color: #e7ecff;
  border: 1px solid #2f54eb;
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 500;
  transition: all .2s;
}

.button-tertiary:hover {
  color: #fff;
  background-color: #a4b6ff;
  border-color: #a4b6ff;
}

.buttons-wrapper {
  justify-content: center;
  display: flex;
}

.tabs-content {
  min-height: 500px;
}

.tabs-content.pricing-tabs {
  margin-top: 50px;
}

.tagline {
  color: #313c53;
  -webkit-text-stroke-color: #313c53;
  border: 1px solid #530001;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
}

.pricing-tab-icon {
  margin-right: 16px;
}

.pricing-tab-icon.team {
  width: 20px;
}

.pricing-tab-icon.solo {
  width: 16px;
}

.price {
  color: #efede0;
  letter-spacing: -.02em;
  margin-top: 0;
  font-family: Merriweather, serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

.price.pricing-home, .price.pricing-page {
  color: #fff;
  font-family: Poppins, sans-serif;
}

.price.pricing-three {
  color: #313c53;
  font-family: Poppins, sans-serif;
}

.month {
  color: #fff;
  padding-right: 4px;
  font-size: 25px;
  font-weight: 300;
}

.month.pricing-three {
  color: #313c53;
}

.what-s-included {
  max-width: 55%;
  color: #efede0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.what-s-included.pricing-home {
  color: #fff;
}

.what-s-included.pricing-three {
  color: #313c53;
}

.pricing-tab-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 3.5fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}

.pricing-text-wrapper {
  width: 80%;
  text-align: center;
  background-color: #313c53;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 28px;
  display: flex;
}

.pricing-text-wrapper.suggested {
  background-color: #2f54eb;
  position: relative;
  top: -50px;
}

.pricing-text-wrapper.pricing-plan {
  width: 90%;
  height: 90%;
  background-color: #d0e6ee;
}

.pricing-text-wrapper.pricing-plan.center {
  width: 100%;
  height: 105%;
  background-color: #313c53;
  margin-bottom: 0;
}

.testimonial-slider {
  height: 100%;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.testimonial-slide-wrapper {
  margin-right: 4%;
}

.testimonial-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -28px;
}

.testimonial-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  opacity: .65;
  transition: all .2s;
}

.slider-arrow-embed:hover {
  opacity: 1;
}

.testimonial-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -49px;
}

.testimonial-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slide-nav {
  justify-content: center;
  display: none;
  top: 313.016px;
}

.testimonial-box {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .23);
  border: 1px solid #ffe7e7;
  border-radius: 20px;
  flex-direction: column;
  padding: 24px;
  display: flex;
}

.testimonial-text-wrapper {
  margin-top: 20px;
}

.testimonial-avatar-wrapper {
  flex: 0 auto;
  display: flex;
}

.testimonial-logo {
  width: 100px;
  margin-top: 20px;
}

.testimonial-mask {
  max-width: 500px;
  overflow: visible;
}

.member-wrapper {
  border: 1px solid #2f54eb;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  display: flex;
}

.member-photo {
  border-radius: 10px;
}

.member-name {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.phone-number {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: all .2s;
}

.phone-number:hover {
  color: #0ff;
}

.email-link {
  color: #a4b6ff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: all .2s;
}

.email-link:hover {
  color: #0ff;
}

.contact-wrapper {
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.contact-icon {
  width: 24px;
  margin-right: 12px;
}

.member-position {
  color: #0ff;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.member-info {
  margin-top: 20px;
}

.contact-form-wrapper {
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.contact-field {
  border-radius: 20px;
  margin-bottom: 0;
  margin-left: 20px;
}

.contact-field.message-field {
  min-height: 100px;
}

.contact-info {
  width: 35%;
  margin-left: 50px;
}

.contact-text {
  font-size: 16px;
  font-weight: 300;
}

.form-block {
  width: 65%;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #a4b6ff;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.hero-video-right {
  width: 100%;
  padding-left: 16px;
}

.tabs-features {
  width: 100%;
  align-items: center;
  display: flex;
}

.tabs-menu {
  width: 50%;
  flex-direction: column;
  margin-right: 20px;
  display: flex;
}

.tab-vertical {
  width: 400px;
  opacity: .3;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  margin-top: 30px;
  padding-left: 0;
  transition: all .2s;
  display: flex;
}

.tab-vertical:hover {
  opacity: 1;
}

.tab-vertical.w--current {
  width: 400px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding-left: 0;
  display: flex;
}

.tab-vertical-icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.features-text-block {
  color: #0ff;
}

.features-paragraph {
  color: #fff;
}

.tabs-vertical-content {
  width: 50%;
}

.features-metrics-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.grid-metrics-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.metrics-block {
  color: #0ff;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.cyan-text-span {
  color: #0ff;
}

.metrics-paragraph-span {
  color: #fff;
}

.metrics-image {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-48px {
  height: 48px;
}

.empty-state {
  background-color: #fff;
  justify-content: center;
  display: none;
}

.divider-faq {
  width: 100%;
  height: 1px;
  background-color: #313c53;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.question {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.faq-wrapper {
  width: 100%;
  max-width: 900px;
  text-align: left;
  margin: 60px auto;
}

.accordion-item-trigger {
  width: 100%;
  align-items: flex-start;
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
}

.faq-block {
  padding-bottom: 40px;
}

.faq-open-icon {
  width: 18px;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #313c53;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  position: relative;
}

.faq-open-icon:focus {
  border-radius: 1px;
}

.full-width-item {
  flex: 1;
}

.open-close-box {
  height: 28px;
  margin-left: 10px;
  display: block;
  position: relative;
}

.accordion-item-content {
  margin-top: 0;
  overflow: hidden;
}

.accordion-item-content.pricing-page {
  margin-top: 20px;
}

.accordion-item-content.pricing-page-copy {
  margin-top: 0;
}

.accordion-wrapper {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.flex-no-wrap {
  color: #efede0;
  flex-wrap: nowrap;
  display: flex;
}

.flex-no-wrap.pricing-page {
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.flex-no-wrap.pricing-page-copy {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-no-wrap.pricing-page-copy-copy {
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.license-image {
  border-radius: 20px;
}

.license-grid {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-3 {
  width: 50%;
  display: flex;
}

.graphic-asset-grid {
  width: 100%;
  grid-column-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}

.license-wrap {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  display: flex;
}

.license-split {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 200px;
  display: flex;
}

.logo-large {
  width: 400px;
}

.color-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.midnight-blue {
  width: 100%;
  height: 100%;
  background-color: #003053;
}

.color-palette-wrapper {
  width: 256px;
  height: 140px;
  border: 1px solid #003053;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
}

.color-name {
  text-align: center;
}

.royal-blue {
  width: 100%;
  height: 100%;
  background-color: #2f54eb;
}

.light-steel-blue {
  width: 100%;
  height: 100%;
  background-color: #a4b6ff;
}

.lavender {
  width: 100%;
  height: 100%;
  background-color: #e7ecff;
}

.cyan {
  width: 100%;
  height: 100%;
  background-color: #0ff;
}

.white {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.success-message-2 {
  color: #003053;
  background-color: #e7ecff;
  border-radius: 6px;
}

.error-message-2 {
  background-color: #ff6363;
  border-radius: 6px;
}

.light-steel-blue-span {
  color: #313c53;
  -webkit-text-stroke-color: #b12326;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 500px;
  text-align: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

._404-logo-wrapper {
  width: 200px;
}

.password-field {
  border-radius: 20px;
}

.submit-button {
  background-color: #2f54eb;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  transition: all .2s;
}

.submit-button:hover {
  background-color: #6885ff;
}

.blog-posts-grid-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.blog-posts-wrapper {
  margin-top: 80px;
}

.grid-members {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.video-wrapper {
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.play-button {
  width: 80px;
  max-width: none;
  position: absolute;
}

.category-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.blog-post-main-image {
  width: 100%;
  border-radius: 20px;
  margin-top: 50px;
}

.form-block-2 {
  margin-bottom: 0;
}

.div-block-4 {
  width: 100%;
  text-align: center;
}

.text-field-2 {
  border-radius: 20px;
}

.field-label {
  color: #313c53;
  font-size: 17px;
  font-weight: 500;
}

.tab-content-grid-reverse {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-wrapper-reverse {
  text-align: right;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-end;
  padding: 28px;
  display: flex;
}

.text-wrapper-reverse.suggested {
  background-color: #2f54eb;
  position: relative;
  top: -49px;
}

.text-span {
  text-align: left;
}

.paragraph-reverse {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

.paragraph-reverse.small {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
}

.paragraph-reverse.features-paragraph {
  font-size: 14px;
}

.paragraph-reverse.color-name {
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.paragraph-reverse.large {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

.secretary-service-plan {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 60px;
}

.pricing-details {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  background-color: #bb9675;
  border-radius: 20px;
  grid-template: "Area Area Area Area"
                 "Area-2 Area-4 . ."
                 "Area-2 . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 "Area-3 . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 ". . . ."
                 / 5fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 60px;
}

.bold-text {
  font-weight: 500;
}

.bold-text.pricing-page {
  color: #fff;
}

.text-block {
  font-size: 24px;
}

.text-block-2 {
  color: #efede0;
  -webkit-text-stroke-width: 0px;
  border: 1px #000;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.text-block-3, .text-block-4 {
  color: #efede0;
  font-size: 20px;
  font-weight: 500;
}

.plan-pricing-text {
  color: #efede0;
  padding: 20px;
}

.bold-text-2, .bold-text-3 {
  color: #313c53;
}

.image {
  color: #313c53;
  -webkit-text-stroke-width: 50px;
  -webkit-text-stroke-color: #313c53;
  background-color: rgba(0, 0, 0, 0);
}

.div-block-5, .div-block-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-block-7 {
  padding-bottom: 15px;
}

.section-copy {
  color: #fff;
  background-color: #f5f3eb;
  padding-top: 0;
  padding-bottom: 80px;
  position: relative;
}

.section-copy.linear-gradient {
  background-image: linear-gradient(#f5f3eb, #313c53);
}

.section-copy.lavender-background {
  color: #003053;
  background-color: #f5f3eb;
}

.section-copy.hero-home-section {
  color: #003053;
  background-color: #f5f3eb;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.section-copy.pricing-page {
  background-color: #f5f3eb;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home {
  color: #d0e6ee;
}

.rich-text-block {
  color: #313c53;
}

.rich-text-block.blog-post {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.heading-2 {
  font-family: Merriweather, serif;
}

.bold-text-4 {
  color: #d0e6ee;
}

.accordion-wrapper-copy {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 8rem;
  padding-right: 8rem;
  position: relative;
  overflow: hidden;
}

.flex-no-wrap-copy {
  color: #efede0;
  text-align: left;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-5 {
  color: #313c53;
}

.div-block-8 {
  margin-bottom: 20px;
  display: flex;
}

.div-block-9 {
  max-width: 40px;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-right: 20px;
  display: flex;
}

.bold-text-5 {
  color: #fff;
  font-family: Poppins, sans-serif;
}

.bold-text-6, .bold-text-7, .bold-text-8 {
  font-weight: 400;
}

.div-block-10 {
  width: 100%;
  height: 70px;
  background-color: #d0e6ee;
  border-top-left-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-11 {
  width: 100%;
  height: 70px;
  background-color: #d0e6ee;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-12 {
  width: 100%;
  height: 70px;
  background-color: #313c53;
  border-radius: 0 20px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pricing-grid-db {
  width: 100%;
  height: 70px;
  color: #313c53;
  text-align: center;
  background-color: #d0e6ee;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  display: flex;
}

.pricing-grid-db.bottom {
  border-radius: 0 0 0 20px;
}

.pricing-grid-p {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #313c53;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
}

.pricing-grid-p.double {
  justify-content: flex-start;
}

.pricing-grid-p.bottom {
  border-bottom-right-radius: 20px;
}

.image-2 {
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
}

.text-span-2 {
  font-size: 12px;
  font-weight: 300;
}

.text-span-3 {
  font-size: 12px;
  font-weight: 400;
}

.text-block-6 {
  color: #313c53;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.text-block-6.standard-resolution-item {
  text-align: left;
  justify-content: center;
}

.text-block-6.middle {
  text-align: center;
}

.package-title {
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.pricing-grid-cta {
  width: 100%;
  height: 70px;
  color: #313c53;
  text-align: center;
  background-color: #bb9675;
  border-radius: 0 0 0 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  display: flex;
}

.pricing-grid-cta.bottom {
  border-radius: 0;
}

.pricing-grid-cta-copy {
  width: 100%;
  height: 70px;
  color: #313c53;
  text-align: center;
  background-color: #bb9675;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  display: flex;
}

.pricing-grid-cta-copy.bottom {
  border-radius: 0;
}

.pricing-grid-cta-copy {
  width: 100%;
  height: 70px;
  color: #313c53;
  text-align: center;
  background-color: #bb9675;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  display: flex;
}

.pricing-grid-cta-copy.bottom {
  border-radius: 0;
}

.pricing-grid-cta-copy-copy {
  width: 100%;
  height: 70px;
  color: #313c53;
  text-align: center;
  background-color: #bb9675;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  display: flex;
}

.pricing-grid-cta-copy-copy.bottom {
  border-radius: 0;
}

.div-block-13 {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.div-block-14, .div-block-15 {
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.hero-wrapper-copy {
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-copy {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-split-copy.button-wrapper {
  outline-offset: 0px;
  outline: 3px #fff;
  flex-direction: row;
}

.bold-text-4-copy {
  color: #d0e6ee;
  font-size: 20px;
}

.form {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
}

.div-block-16 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.standard-resolution-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 9fr 3fr;
  justify-items: center;
  margin-top: 20px;
}

.standard-resolution-item {
  width: 100%;
  height: auto;
  min-height: 70px;
  border: 1px solid #000;
  border-radius: 0;
  align-items: center;
  padding: 10px 20px;
  display: flex;
}

.standard-resolution-item.text-block-6 {
  text-align: center;
}

.accordion-item-trigger-copy {
  width: 100%;
  align-items: flex-start;
  padding-bottom: 5px;
  padding-left: 40px;
  text-decoration: none;
  display: flex;
}

.text-span-4 {
  color: #bcbeb8;
}

.bold-text-9 {
  text-align: center;
}

.text-span-5 {
  color: #bcbeb8;
}

.bold-text-10 {
  text-align: left;
}

.text-span-6 {
  color: #bcbeb8;
}

.accordion-wrapper-copy-copy {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 8rem;
  padding-right: 8rem;
  position: relative;
  overflow: hidden;
}

.bold-text-4-copy {
  color: #d0e6ee;
}

.bold-text-4-copy-copy {
  color: #313c53;
}

.hero-split-copy-copy {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-split-copy-copy.button-wrapper {
  outline-offset: 0px;
  outline: 3px #fff;
  flex-direction: row;
}

.div-block-17 {
  align-self: center;
  margin-top: 20px;
}

.div-block-18 {
  width: 300px;
  height: 300px;
  color: #d0e6ee;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(7, 12, 22, .7), rgba(7, 12, 22, .7)), url('../images/istockphoto-1184334685-612x612.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.div-block-18:hover {
  background-image: linear-gradient(rgba(7, 12, 22, .52), rgba(7, 12, 22, .52)), url('../images/istockphoto-1184334685-612x612.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.bold-text-11 {
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 991px) {
  .navbar-buttons {
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
  }

  .menu-button {
    color: #fff;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }

  .brand-logo {
    margin-right: 0;
    padding-left: 0;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container.container-navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-menu {
    text-align: center;
    background-color: #003053;
    padding-bottom: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .19);
  }

  .nav-link {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
  }

  .main-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .main-split {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 0;
  }

  .heading.h1 {
    font-size: 44px;
    line-height: 58px;
  }

  .hero-image-wrapper {
    margin-bottom: 48px;
  }

  .hero-image {
    width: 100%;
  }

  .grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .testimonial-hero {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-avatar {
    margin-bottom: 16px;
  }

  .tab-content-grid {
    grid-template-columns: 1fr;
  }

  .text-wrapper.suggested, .text-wrapper.homepage-price {
    top: 0;
  }

  .metrics-grid {
    grid-template-columns: 1fr 1fr;
  }

  .featured-posts-wrapper {
    margin-bottom: 120px;
  }

  .post-image {
    width: 100%;
    height: 100%;
    max-width: none;
  }

  .read-more {
    display: none;
  }

  .blog-card {
    width: auto;
    height: auto;
  }

  .footer-wrapper {
    flex-wrap: wrap;
  }

  .hero-wrapper {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .pricing-tab-grid {
    grid-template-columns: 1fr;
  }

  .pricing-text-wrapper.suggested {
    top: 0;
  }

  .testimonial-slider-left {
    left: -20px;
  }

  .testimonial-slider-right {
    right: -20px;
  }

  .hero-video-right {
    padding-left: 0;
  }

  .question {
    font-size: 18px;
    font-weight: 400;
  }

  .color-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .blog-posts-grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .grid-members {
    grid-template-columns: 1fr 1fr;
  }

  .video-wrapper {
    max-width: 100vw;
  }

  .tab-content-grid-reverse {
    grid-template-columns: 1fr;
  }

  .text-wrapper-reverse.suggested {
    top: 0;
  }

  .secretary-service-plan, .pricing-details {
    grid-template-columns: 1fr;
  }

  .hero-wrapper-copy {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-split-copy {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .standard-resolution-grid {
    grid-template-columns: 1fr;
  }

  .hero-split-copy-copy {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container.container-navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .button-primary, .button-primary.footer-button {
    margin-left: 0;
    margin-right: 0;
  }

  .styleguide-split, .styleguide-wrapper {
    align-items: center;
  }

  .hero-wrapper-two.left-aligned {
    align-items: flex-start;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features-block {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .metrics-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logos-section {
    padding: 60px 15px;
  }

  .clients-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -20px;
  }

  .clients-logo {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .card-wrapper {
    margin-bottom: 48px;
  }

  .blog-card {
    position: static;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-block {
    margin-bottom: 48px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-top {
    flex-direction: column;
  }

  .social-media-icons {
    margin-top: 48px;
  }

  .social-media-icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .subscribe-section {
    padding: 60px 15px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 12px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .testimonial-slide-nav {
    display: flex;
  }

  .contact-form-wrapper {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
    margin-top: 60px;
    margin-left: 0;
  }

  .form-block {
    width: 100%;
  }

  .tabs-features {
    flex-direction: column;
  }

  .tabs-menu {
    width: 100%;
    margin-right: 0;
  }

  .tab-vertical, .tab-vertical.w--current {
    width: 100%;
    padding-right: 0;
  }

  .tabs-vertical-content {
    width: 100%;
    margin-top: 40px;
  }

  .grid-metrics-3 {
    grid-template-columns: 1fr 1fr;
  }

  .div-block-3 {
    width: 100%;
  }

  .graphic-asset-grid {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
  }

  .license-split {
    text-align: center;
    align-items: center;
  }

  .logo-large {
    width: 200px;
  }

  .color-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .blog-posts-grid-3, .grid-members {
    grid-template-columns: 1fr;
  }

  .category-list {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-copy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .top-banner {
    height: 48px;
  }

  .banner-wrapper {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .banner-text, .banner-link {
    font-size: .75rem;
  }

  .menu-button.w--open {
    color: #2f54eb;
    background-color: #f2f6ff;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .container.container-navbar {
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
  }

  .brand-logo-image {
    height: 24px;
  }

  .button-primary {
    text-align: center;
  }

  .heading.h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .heading.h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .typography-block {
    width: 100%;
    padding-right: 8px;
  }

  .text-highlight {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .styleguide-split {
    text-align: center;
  }

  .hero-image {
    border-radius: 9px;
  }

  .tabs-switch-menu {
    border-style: none;
    border-radius: 26px;
    flex-direction: column;
  }

  .clients-logo {
    max-height: 60px;
    max-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .clients-logo-heading {
    line-height: 30px;
  }

  .featured-posts-wrapper {
    margin-bottom: 0;
  }

  .card-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-brand {
    margin-bottom: 33px;
  }

  .footer-block {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
  }

  .social-media-icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero-split.button-wrapper {
    flex-direction: column;
  }

  .button-secondary.margin {
    margin-top: 16px;
    margin-left: 4px;
  }

  .button-tertiary {
    text-align: center;
  }

  .buttons-wrapper {
    flex-direction: column;
  }

  .testimonial-slider {
    max-width: 100%;
    flex-direction: column;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 16px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .arrow-wrapper {
    display: none;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .testimonial-slide-nav {
    position: static;
    top: 381.016px;
  }

  .testimonial-mask {
    max-width: 100%;
  }

  .member-wrapper {
    padding: 15px;
  }

  .tab-vertical {
    text-align: center;
    flex-direction: column;
    padding-right: 0;
  }

  .tab-vertical.w--current {
    text-align: center;
    flex-direction: column;
  }

  .tab-vertical-icon {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .grid-metrics-3 {
    grid-template-columns: 1fr;
  }

  .question {
    line-height: 26px;
  }

  .color-palette-wrapper {
    width: 100%;
  }

  .play-button {
    width: 60px;
  }

  .hero-split-copy.button-wrapper, .hero-split-copy-copy.button-wrapper {
    flex-direction: column;
  }
}

#w-node-_09ee82df-a003-1aa9-3380-fd2ecdee74dc-ab29213c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: center;
}

#w-node-_9d36a8a7-2404-99d5-9659-7c90c7e0ed01-ab29213c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_9d36a8a7-2404-99d5-9659-7c90c7e0ed02-ab29213c, #w-node-_0e0f73d3-daf3-f2a4-e565-1e8432a6fc48-ab29213c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0e0f73d3-daf3-f2a4-e565-1e8432a6fc47-ab29213c {
  justify-self: end;
}

#w-node-_83315653-ee10-ccaf-fbfa-186ee3ec00f1-ab29213c {
  align-self: center;
  justify-self: start;
}

#w-node-_83315653-ee10-ccaf-fbfa-186ee3ec00f2-ab29213c, #w-node-c6b031f8-b6a6-8e8c-b416-0529429be70a-ab29213c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c6b031f8-b6a6-8e8c-b416-0529429be712-ab29213c {
  justify-self: end;
}

#w-node-e6919b10-e04e-c3b5-35a2-22bc72372216-ab29213c, #w-node-c69841b3-8880-7b1e-183e-b79b03494d8a-ab29213c, #w-node-_3a8ef54e-7386-a434-99ee-84113a08ff75-ab29213c, #w-node-abf3c8be-a55e-12f5-e36c-5ca6a1ee17f2-ab29213c, #w-node-ab840431-9fc4-1628-67d6-b0b1e159b9fb-04810f2e, #w-node-d87d37b2-1c7b-be35-2885-e5d14cc221e2-04810f2e, #w-node-_3becef1c-9835-914c-4acd-41ec160466d2-04810f2e, #w-node-_7ed00212-2087-06bd-3f8a-e34b61c734df-04810f2e, #w-node-_76da63ab-be98-0d07-5b9a-4330f2ad8797-ab292177 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_39c6c16d-2cbc-8c19-b926-0078063499d3-ab292177 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_0685a90b-248d-3a5e-5e9b-346bc78e967a-ab292177 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bcf66f10-e4a0-d262-c1f7-e81bbc220aa9-ab292177 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6d5ede1e-26f0-b5b8-166f-71810781cf78-ab292179, #w-node-_6ce93fab-e053-191b-76f1-62688229b1cf-ab292179, #w-node-_5c9f5e63-bbe5-1e43-6aaf-40b0870384d8-ab292179, #w-node-bc666835-b94a-6c21-3908-9a635d94ad1f-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214c6-ab292179 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1ee2c5ca-a131-c738-966a-9b42481214c7-ab292179 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_1ee2c5ca-a131-c738-966a-9b42481214ca-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214cd-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214d0-ab292179 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1ee2c5ca-a131-c738-966a-9b42481214d3-ab292179 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_1ee2c5ca-a131-c738-966a-9b42481214d4-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214d5-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214d7-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214d9-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214de-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214e0-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214e2-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214e4-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214e7-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214e9-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214eb-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214ed-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214f0-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214f2-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214f4-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214f6-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214f9-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214fb-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214fd-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b42481214ff-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121502-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121504-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121506-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121508-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812150b-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812150d-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812150f-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121515-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121518-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812151a-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812151c-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812151e-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121521-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121523-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121525-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812152a-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812152d-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812152f-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121531-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121534-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121537-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121539-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812153b-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812153d-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b424812153e-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121541-ab292179, #w-node-_1ee2c5ca-a131-c738-966a-9b4248121544-ab292179 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e848a39c-bfd1-7a85-4ea2-2d77cf8864e8-ab292179, #w-node-df48aebb-ca70-9c1d-0b94-aed7be7c14a8-ab292179, #w-node-_47081c73-a9b6-b056-19f3-4ab63017c40e-ab292179 {
  justify-self: auto;
}

#w-node-_3dbe031c-2fb9-9a59-b7b0-7b2421c1c1e2-ab292180, #w-node-_3dbe031c-2fb9-9a59-b7b0-7b2421c1c1e3-ab292180, #w-node-c5dfd0a6-ce13-8a2c-c40b-f3cb9a6a1daf-ab292180, #w-node-c5dfd0a6-ce13-8a2c-c40b-f3cb9a6a1db0-ab292180, #w-node-b4cc0360-5f4b-9931-57b2-98dce4ccaee2-ab292180, #w-node-b4cc0360-5f4b-9931-57b2-98dce4ccaee3-ab292180, #w-node-_173e8290-f392-725e-7752-ea0d678bd661-ab292180, #w-node-_173e8290-f392-725e-7752-ea0d678bd662-ab292180, #w-node-ee5ebf55-2e3d-564f-4166-844e78c0b841-ab292180, #w-node-ee5ebf55-2e3d-564f-4166-844e78c0b842-ab292180, #w-node-_2773ce26-bc41-dbfd-5135-4997d3a137e2-ab292180, #w-node-_997b9f8f-d743-72ac-201c-897e347a9571-ab292180 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


